html, body {
    height: 100%;
    margin: 0;
}
body {
    background-image:url('images/background_usuarios.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Arial', sans-serif;
}
.container {
    text-align: center;
    max-width: 900px;
    padding: 2rem;
    margin-top: 1rem;
}
.carousel img {
    object-fit: cover;
}